/* Declaring global variables. */
:root {
    --primary: #1D2E2F;
    --secondary: #FDA430;
    --tertiary: #3A7355;
    --quartenary: #809A63;
    --links: #FFFFFF;
}
a {
    color: var(--links);
    text-decoration: none;
}
p, a {
    font-size: larger;
    font-family: 'Hind Vadodara', sans-serif;
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}
nav, footer {
    background-color: var(--primary);
    color: var(--links)
}
#contact {
    background-color: var(--quartenary);
}
.jumbotron {
    background-image: url(/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}
.form {
    background-color: var(--secondary);
}
.form-control {
    max-width: 100%;
}