/* Declaring global variables. */
:root {
    --primary: #1D2E2F;
    --secondary: #FDA430;
    --tertiary: #3A7355;
    --quartenary: #809A63;
    --links: #FFFFFF;
}
ul {
    list-style: none;
}
a {
    color: var(--links);
    text-decoration: none;
}
p, a, .btn-primary, .btn-secondary, .btn-tertiary {
    font-size: larger;
    font-family: 'Hind Vadodara', sans-serif;
    margin: 0;
}
h1, h2, h3, h4 {
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
}
h3 {
    color: #000;
}
nav, footer {
    background-color: var(--primary);
    color: var(--links)
}
main {
    margin: 3em 0em;
}
footer {
    background-color: var(--quartenary);
}
.jumbotron {
    background-image: url(/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.form-img {
    background-image: url(/form-img.jpg);
    background-position: center;
    background-size: cover;
}
.form {
    background-color: var(--secondary);
}
.form-control {
    max-width: 100%;
}
.hero-text {
    padding-top: 5%; 
}
.btn-primary, .btn-secondary, .btn-tertiary {
    border-radius: 10px;
    border: none;
}
.btn-primary, .btn-secondary {
    background-color: var(--tertiary);
}
.btn-primary, .btn-tertiary{
    width: 100%;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px;
}
.btn-tertiary {
    background-color:var(--primary);
    color: var(--links);
}
.nav-icon {
    background-color: var(--secondary);
    justify-content: space-evenly;
}
.nav-item {
    margin:1em;
}
.copyright {
    background-color: var(--primary);
    color: var(--links);
}