.jumbotron {
  background-image: url("../assets/images/hero.jpg");
  background-position: center;
  background-size: cover;
  height: 450px;
}

.hero-text {
  padding-top: 5%;
}
.btn-primary,
.btn-secondary,
.btn-tertiary {
  border-radius: 10px;
  border: none;
  color: var(--links);
}
.btn-primary,
.btn-secondary {
  background-color: var(--tertiary);
}
.btn-tertiary,
.btn-primary:hover {
  background-color: var(--primary);
}

.btn-primary,
.btn-tertiary {
  width: 100%;
  margin-top: 10px;
  padding: 0.5em;
  text-transform: uppercase;
}
