.font-link {
  font-family: "Hind Vadodara", sans-serif;
  font-family: "Mukta", sans-serif;
}

body {
  --primary: #1d2e2f;
  --secondary: #fda430;
  --tertiary: #3a7355;
  --quartenary: #809a63;
  --links: #ffffff;
}

ul {
  list-style: none;
}
a {
  color: var(--links);
  text-decoration: none;
}
p,
a,
.btn-primary,
.btn-secondary,
.btn-tertiary {
  font-size: larger;
  font-family: "Hind Vadodara", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
}
h3 {
  color: #000;
}
