.card-title {
    font-weight: 700;
}
.request-btn {
        border-radius: 10px;
        border: none;
        background-color: var(--quartenary);
        color: #fff;
        padding: 0.5em;
        text-transform: uppercase;
        font-size: large;
        padding: 10px 20px;
        width: 100%;
}
.request-btn:hover {
    background-color: var(--tertiary);
  }
