nav {
  background-color: var(--primary);
  color: var(--links);
}
.navbar-brand img {
  max-width: 100%;
  max-height: 70px;
}
.form {
  background-color: var(--secondary);
}
.login-btn:hover,.search-btn:hover {
  background-color: var(--secondary);
}
.profile-btn,.login-btn,.search-btn {
  border-radius: 10px;
  border: none;
  background-color: var(--quartenary);
  color: var(--links);
  padding: 0.5em;
  padding: 10px 20px;
  font-size: large;
  text-transform: uppercase;
}
.search-btn {
  background-color: var(--tertiary);
}