nav {
  background-color: var(--primary);
  color: var(--links);
}
.navbar-brand img {
  max-width: 100%;
  max-height: 70px;
}
.form {
  background-color: var(--secondary);
}
.login-btn:hover,
.search-btn:hover {
  background-color: var(--secondary);
}
.profile-btn {
  border-radius: 10px;
  border: none;
  background-color: var(--quartenary);
  color: #fff;
  padding: 0.5em;
  padding: 5px 10px;
}
.login-btn {
  border-radius: 10px;
  border: none;
  background-color: var(--quartenary);
  color: #fff;
  padding: 0.5em;
  text-transform: uppercase;
  font-size: large;
  padding: 10px 20px;
}
.search-btn {
  background-color: var(--tertiary);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: large;
  padding: 10px 20px;
}